.conteiner {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}
.nav {
  display: flex;
  gap: 20px;
  padding: 20px;
 
  box-shadow: -1px 12px 9px -6px rgba(39, 108, 171, 0.79);
}
.navItem {
  font-weight: 700;
  color: rgb(39, 108, 171);
  cursor: pointer;
  padding: 10px;
}
.navItem:hover {
  color: #fff;
  background-color: rgb(39, 108, 171);
}
.navItemActive {
  composes: navItem;
  color: #fff;
  background-color: rgb(39, 108, 171);
}
